.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    cursor: pointer;
    + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
        &::before {
            content: "";
            display: inline-block;
            width: 1.5em;
            aspect-ratio: 1;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #adb5bd;
            border-radius: 0.25em;
            margin-right: 5px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 75%;
            transition: 0.1s ease-in-out;
            cursor: pointer;
        }
    }
    &:checked + label::before {
        border-color: #0b76ef;
        background-color: #0b76ef;
        background-image: url("img/icons/checkmark.svg");
        cursor: pointer;
    }

    &:not(:disabled):not(:checked) + label:hover::before {
        border-color: #b3d7ff;
        cursor: pointer;
    }
}
