@font-face {
    font-family: "GothamPro";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Gotham/GothamPro.woff") format("woff");
}
@font-face {
    font-family: "GothamPro-Bold";
    font-style: normal;
    font-weight: bolder;
    src: url("../fonts/Gotham/GothamPro-Bold.woff") format("woff");
}
@font-face {
    font-family: "GothamPro-Light";
    font-style: normal;
    font-weight: lighter;
    src: url("../fonts/Gotham/GothamPro-Light.woff") format("woff");
}

@font-face {
    font-family: "GothamPro-Medium";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Gotham/GothamPro-Medium.woff") format("woff");
}
